.dinein {
    padding: 3rem 25rem 0 25rem;
    background-image: url("../../../public/wood-background-2.jpg");
    background-color: rgba(19, 8, 3, 0.5); /* Tint color */
    background-blend-mode: multiply;
}

.content {
    padding: 2rem;
    background-color: rgb(255, 247, 232);
    color: rgb(101, 90, 58);
}

.link {
    color: rgb(45, 45, 209);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
