.footer {
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: rgb(225, 209, 176);
    align-items: center;
    justify-content: flex-start;
}

.foot {
    color: white;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}
