.navbar {
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(225, 209, 176);
    padding: 0 5rem 0 5rem;
}

.navgroup {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.g1 {
    justify-content: flex-start;
}

.g2 {
    justify-content: center;
}

.g3 {
    justify-content: flex-end;
}

.navcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.navrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowitem {
    margin: 0 0.5rem 0 0.5rem;
}

.logolink {
    font-size: 3rem;
    color: white;
}

.link {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
    color: rgb(241, 241, 241);
}

.active {
    text-decoration: underline;
}
